<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
                <span class="count"></span> Twitter
            </a>
        </li>
        <li>
            <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                <span class="count"></span> Faceboook
            </a>
        </li>
        <li>
            <a class="dribble" href="#">
                <i class="fab fa-github"></i>

                <span class="count"></span> Github
            </a>
        </li>
        <li>
            <a class="pin" href="#">
                <i class="fab fa-linkedin"></i>
                <span class="count"></span> Linkedin
            </a>
        </li>

    </ul>
</div>