<div class="single-gd tech-btm">
    <h4>Son gönderi</h4>
    <div class="blog-grids">
        <div class="blog-grid-left">
            <a href="single.html">
                <img src="~/CoreBlogTema/images/b1.jpg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="blog-grid-right">

            <h5>
                <a href="single.html">Hangi Kitapları Okumalı?</a>
            </h5>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>